<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
		<title>Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		{{{ body }}}
	</body>
	
	<script>
		// wait to run anything untill the dom is loaded.
$(function() {
    $(".change-devoured").on("click", function(event) {
        var id = $(this).data("id");
        var newDevoured = $(this).data("newdevoured");

        var newDevouredState = {
            devoured: newDevoured
        };
		console.log("newDevouredState", newDevouredState)

        // Now create the Ajax PUT request
        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newDevouredState
        }).then(
            function() {
                console.log("changed devoured state to", newDevoured);
                //Reload the page to get the updated list
                location.reload();
            });
    });

    $(".create-form").on("submit", function(event) {
        // Insert a prevent default on submit event to prevent refreshing of page
        event.preventDefault();

        var newBurger = {
            burger_name: $("#ca").val().trim(),
            devoured: $("[name=devoured]:checked").val().trim()
        };

        // send the post request
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(
            function() {
                console.log("created new burger");
                //reload
                location.reload();
            });
    });
    //insert delete here
    $(".delete-burger").on("click", function(event) {
        var id = $(this).data("id");
        //send request
    $.ajax("/api/burgers/" + id, {
        type: "DELETE"
      }).then(
        function() {
          console.log("deleted burger", id);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
});
	</script>
</html>